absl-py==1.0.0
asgiref==3.3.1
ax-platform==0.2.3
botorch==0.6.0
cloudpickle==1.6.0
cycler==0.10.0
Django==3.1.7
flatbuffers==2.0
future==0.18.2
gpytorch==1.6.0
gym==0.18.0
hyperopt==0.2.7
image==1.5.33
jax==0.3.13
jaxlib==0.3.10
Jinja2==3.0.3
joblib==1.1.0
kiwisolver==1.3.2
MarkupSafe==2.0.1
matplotlib==3.4.3
mpmath==1.2.1
networkx==2.6.3
numpy==1.20.1
opt-einsum==3.3.0
pandas==1.1.5
Pillow==8.3.2
plotly==5.6.0
py4j==0.10.9.5
pyglet==1.5.0
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.1
scikit-learn==1.0.2
scipy==1.6.2
six==1.15.0
sqlparse==0.4.1
sympy==1.10.1
tenacity==8.0.1
threadpoolctl==3.1.0
torch==1.10.2
tqdm==4.64.0
typeguard==2.13.3
typing_extensions==4.0.1